# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts should use LF
*.sh text eol=lf

# Windows scripts should use CRLF
*.bat text eol=crlf
*.cmd text eol=crlf

# SQL files should use LF
*.sql text eol=lf

